@font-face {
  font-family: 'Verveine Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/VerveineRegular.woff");
}

@font-face {
  font-family: 'Segoe UI Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Segoe UI.woff");
}

@font-face {
  font-family: 'Segoe UI Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Segoe UI Italic.woff");
}

@font-face {
  font-family: 'Segoe UI Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Segoe UI Bold.woff");
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Segoe UI Bold Italic.woff");
}

@font-face {
  font-family: 'Segoe UI Black';
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/seguibl.ttf");
}

h1 {
  color: #493e5b;
  font-family: "Segoe UI Black";
  font-weight: 900;
  z-index: 99;
  font-size: 2rem;
  position: relative;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 3.438rem;
  }
}

h1::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 30px;
  background-color: #799be8;
  z-index: -1;
  top: 10px;
  left: 30px;
  -webkit-transform: skew(320deg) rotate(356deg);
          transform: skew(320deg) rotate(356deg);
}

@media screen and (min-width: 992px) {
  h1::before {
    top: 30px;
  }
}

h2 {
  color: #fff;
  font-family: "Segoe UI Regular";
  font-size: 3rem;
}

@media screen and (min-width: 992px) {
  h2 {
    font-size: 3.438rem;
  }
}

h4 {
  color: #799be8;
  font-family: "Segoe UI Black";
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  position: relative;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  margin-bottom: 0;
}

@media screen and (min-width: 576px) {
  h4 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  h4 {
    font-size: 2.125rem;
  }
}

h4::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 30px;
  background-color: #dec2e1;
  z-index: -1;
  top: 10px;
  left: 15%;
  -webkit-transform: skew(320deg) rotate(356deg);
          transform: skew(320deg) rotate(356deg);
}

h5 {
  color: #fff;
  font-family: "Segoe UI Black";
  font-size: 1.5rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  h5 {
    font-size: 1.313rem;
  }
}

h6 {
  font-family: "Verveine Regular";
  font-size: 5rem;
  color: #493e5b;
  line-height: 1;
  text-align: center;
}

@media screen and (min-width: 992px) {
  h6 {
    font-size: 3.438rem;
    line-height: 1.2;
  }
}

p {
  color: #000;
  font-family: "Segoe UI Regular";
  font-size: 1.2rem;
  overflow-wrap: break-word;
}

@media screen and (min-width: 992px) {
  p {
    font-size: 1.313rem;
  }
}

* {
  margin: 0;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 85%;
}

a {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

strong {
  font-family: "Segoe UI Black";
}

.display-none {
  display: none !important;
}

.display-block {
  display: block !important;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media screen and (max-width: 400px) {
  .navbar-toggler {
    padding: 0;
  }
}

@media (min-width: 1536px) {
  .navbar-expand-custom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-custom .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-custom .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-custom > .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-custom .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
}

.navbar-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media screen and (min-width: 1536px) {
  .navbar-nav {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #493e5b;
  color: #fff;
  padding: 10px 0 10px 10%;
  width: 100%;
  z-index: 999;
  position: fixed;
  padding-right: 5%;
}

.navbar .navbar-brand {
  font-size: 2.2rem;
  font-family: "Verveine Regular";
}

@media screen and (min-width: 992px) {
  .navbar .navbar-brand {
    font-size: 3.438rem;
  }
}

.navbar a {
  color: #fff;
  font-family: "Segoe UI Regular";
  font-size: 1.525rem;
}

.navbar .nav-item {
  margin-left: 40px;
}

.navbar .nav-item a {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 20px;
}

.navbar .nav-item a::before {
  content: '';
  top: 20px;
  left: 10%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  height: 20px;
  width: 0%;
  background-color: #fff;
  z-index: -1;
  -webkit-transform: skew(320deg) rotate(356deg);
          transform: skew(320deg) rotate(356deg);
}

.navbar .nav-item a:hover {
  color: #493e5b;
}

.navbar .nav-item a:hover::before {
  width: 80%;
}

.navbar .nav-item.active a {
  position: relative;
  color: #493e5b;
}

.navbar .nav-item.active a::before {
  width: 80%;
}

.navbar button, .navbar form .btn-send, form .navbar .btn-send {
  background-color: transparent;
}

.navbar button:hover, .navbar form .btn-send:hover, form .navbar .btn-send:hover {
  background-color: transparent;
}

.navbar button:active, .navbar form .btn-send:active, form .navbar .btn-send:active, .navbar button:focus, .navbar form .btn-send:focus, form .navbar .btn-send:focus {
  outline: none;
}

.navbar button svg, .navbar form .btn-send svg, form .navbar .btn-send svg {
  height: 20px;
}

@media screen and (min-width: 992px) {
  .navbar button svg, .navbar form .btn-send svg, form .navbar .btn-send svg {
    height: 35px;
  }
}

.navbar button svg path, .navbar form .btn-send svg path, form .navbar .btn-send svg path {
  fill: #fff;
}

.header {
  position: relative;
  overflow: hidden;
  padding-bottom: 300px;
}

@media screen and (min-width: 992px) {
  .header {
    padding-bottom: 0;
  }
}

.header > img {
  width: 130%;
  margin-top: 82px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

@media screen and (min-width: 992px) {
  .header > img {
    -webkit-transform: none;
            transform: none;
    width: 100%;
    margin-top: 110px;
  }
}

@media screen and (min-width: 1400px) {
  .header > img {
    margin-top: -112px;
  }
}

.header .filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 25% 0 0 0;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .header .filter {
    padding: 18vh 0 0 0;
  }
}

@media screen and (min-width: 1100px) {
  .header .filter {
    padding: 25vh 0 0 0;
  }
}

.header .filter svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: 10px solid white;
  border-radius: 80px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 80px;
  width: 80px;
}

@media screen and (min-width: 992px) {
  .header .filter svg {
    border: 15px solid white;
    height: 136px;
    width: 136px;
  }
}

.header .filter svg:hover {
  padding: 20px;
}

.header .filter a {
  margin: 125px auto 50px auto;
}

@media screen and (min-width: 1400px) {
  .header .filter a {
    margin: 175px auto 50px auto;
  }
}

.header h1 {
  color: #fff;
  font-family: "Verveine Regular";
  font-size: 3.8rem;
  font-weight: 300;
  line-height: 6rem;
  margin-top: 0;
}

@media screen and (min-width: 576px) {
  .header h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 992px) {
  .header h1 {
    font-size: 9rem;
    margin-top: 0;
  }
}

.header h1::before {
  content: '';
  width: 0;
  height: 0;
}

.header h2 {
  font-size: 1.5rem;
}

@media screen and (min-width: 576px) {
  .header h2 {
    font-size: 2rem;
  }
}

.header p {
  color: #fff;
  max-width: 80%;
  text-align: center;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .header p {
    max-width: 50%;
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1400px) {
  .header p {
    max-width: 100%;
  }
}

.header q {
  font-family: "Verveine Regular";
  font-size: 2rem;
  color: #fff;
  margin: -250px 0 0 0;
}

@media screen and (min-width: 576px) {
  .header q {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .header q {
    color: #493e5b;
    margin: -150px 2% 0 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 1400px) {
  .header q {
    margin: -150px 5% 0 0;
  }
}

.apropos {
  padding: 0 0 120px 0;
  margin-top: 50px;
  margin-bottom: 200px;
}

@media screen and (min-width: 992px) {
  .apropos {
    padding: 120px 0;
  }
}

.apropos h1 {
  margin-bottom: 50px;
}

.apropos a {
  font-size: 2rem;
  color: #493e5b;
  font-family: "Verveine Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .apropos a {
    font-size: 3.438rem;
  }
}

.apropos .triangle {
  height: 0;
  width: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #dcb36a;
  margin-right: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media screen and (min-width: 992px) {
  .apropos .triangle {
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 43px solid #dcb36a;
  }
}

.apropos .card {
  border: none;
  padding-left: 0;
  background: none;
}

@media screen and (min-width: 992px) {
  .apropos .card {
    padding-left: 120px;
  }
}

.apropos .card p {
  max-width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 992px) {
  .apropos .card p {
    max-width: 60%;
  }
}

.apropos .card li {
  font-size: 1.2rem;
  max-width: 100%;
}

@media screen and (min-width: 992px) {
  .apropos .card li {
    max-width: 60%;
    font-size: 1.313rem;
  }
}

.apropos .card strong {
  color: #493e5b;
}

.quisuisje {
  position: relative;
  min-height: 85vh;
}

.quisuisje > img {
  position: absolute;
  right: 0;
  top: -100px;
  z-index: -1;
}

.quisuisje .container {
  padding: 200px 0 165px 0;
}

.quisuisje .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 992px) {
  .quisuisje .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.quisuisje .wrapper .text-wrapper {
  max-width: 70%;
  margin: 50px 0;
}

@media screen and (min-width: 992px) {
  .quisuisje .wrapper .text-wrapper {
    max-width: 60%;
  }
}

@media screen and (min-width: 1500px) {
  .quisuisje .wrapper .text-wrapper {
    max-width: 70%;
    margin-top: 0px;
    padding-top: 50px;
  }
}

.quisuisje .wrapper .text-wrapper .logo-wrapper {
  width: 100%;
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .quisuisje .wrapper .text-wrapper .logo-wrapper {
    width: 80%;
    margin: 50px auto 0 auto;
  }
}

@media screen and (min-width: 1500px) {
  .quisuisje .wrapper .text-wrapper .logo-wrapper {
    width: 20%;
  }
}

.quisuisje .wrapper .text-wrapper .logo-wrapper > img {
  height: -webkit-fit-content;
  height: fit-content;
  height: -moz-fit-content;
}

.quisuisje .wrapper .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .quisuisje .wrapper .img-wrapper {
    margin-top: 0;
  }
}

.quisuisje .wrapper .img-overflow {
  border-radius: 175px;
  overflow: hidden;
}

.quisuisje .wrapper img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 992px) {
  .quisuisje .wrapper img {
    width: 350px;
    height: 350px;
  }
}

.quisuisje .wrapper figure {
  font-size: 3.438rem;
  color: #493e5b;
  font-family: "Verveine Regular";
}

footer {
  background-color: #dd919e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media screen and (min-width: 1200px) {
  footer {
    padding: 65px 140px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .butterfly-footer-1 {
  position: absolute;
  bottom: 150%;
  left: 22%;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: -1;
}

footer .butterfly-footer-1 svg {
  width: 80%;
}

footer .butterfly-footer-1 svg path {
  fill: #dcb36a;
}

footer .butterfly-footer-2 {
  position: absolute;
  bottom: 110%;
  left: 30%;
  -webkit-transform: rotateY(180deg) rotate(30deg);
          transform: rotateY(180deg) rotate(30deg);
  z-index: -1;
}

footer .butterfly-footer-2 svg {
  width: 60%;
}

footer .butterfly-footer-2 svg path {
  fill: #799be8;
}

footer .butterfly-footer-3 {
  position: absolute;
  bottom: -30%;
  z-index: 998;
  left: 105%;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

@media screen and (min-width: 339px) {
  footer .butterfly-footer-3 {
    left: 105%;
  }
}

@media screen and (min-width: 992px) {
  footer .butterfly-footer-3 {
    bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  footer .butterfly-footer-3 {
    left: 78%;
    bottom: 50%;
  }
}

footer .butterfly-footer-3 svg path {
  fill: #d13978;
}

footer .mentions-wrapper {
  position: relative;
  text-align: center;
}

footer .mentions-wrapper a {
  font-family: "Segoe UI Bold";
  font-size: 1.6rem;
  margin: 20px 0 40px 0;
  z-index: 999;
  position: relative;
}

@media screen and (min-width: 992px) {
  footer .mentions-wrapper a {
    font-size: 2.125rem;
  }
}

@media screen and (min-width: 1200px) {
  footer .mentions-wrapper a {
    margin: 0;
  }
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #493e5b;
}

footer p {
  color: #fff;
  font-size: 1.313rem;
  margin-bottom: 0;
}

footer span {
  font-size: 2rem;
  margin-right: 5px;
}

footer .copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  footer .copyrights {
    display: block;
  }
}

footer .copyrights p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media screen and (min-width: 428px) {
  footer .copyrights p {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

footer .copyrights a {
  margin-left: 5px;
}

footer .social {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  footer .social {
    margin-top: 0;
  }
}

footer .social svg {
  width: 55px;
  margin-left: 40px;
}

footer .social svg:hover path {
  fill: #493e5b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer > img {
  position: absolute;
  bottom: 99%;
  z-index: 1;
  right: 7%;
  width: 20%;
}

.tarifs {
  position: relative;
  padding-bottom: 300px;
  min-height: 1310px;
  padding: 100px 2%;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  .tarifs {
    padding: 100px;
  }
}

.tarifs > img {
  position: absolute;
  right: 0;
  bottom: 0;
  top: -100px;
  z-index: -1;
}

.tarifs .container {
  padding: 50px 0 0 0;
}

@media screen and (min-width: 576px) {
  .tarifs .container {
    padding: 150px 0 0 0;
  }
}

.tarifs .container > a {
  font-size: 1.313rem;
  display: block;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .tarifs .container .estimation {
    max-width: 63%;
  }
}

.tarifs .tarifs-para {
  font-size: 1.5rem;
  color: #a09cc2;
  margin-top: 50px;
}

@media screen and (min-width: 576px) {
  .tarifs .tarifs-para {
    font-size: 2.125rem;
  }
}

@media screen and (min-width: 1200px) {
  .tarifs .tarifs-para {
    max-width: 60%;
  }
}

.tarifs h4 {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .tarifs h4 {
    max-width: 60%;
  }
}

.tarifs h4::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 40px;
  background-color: #dec2e1;
  z-index: -1;
  top: 20px;
  left: 15%;
  -webkit-transform: skew(320deg) rotate(356deg);
          transform: skew(320deg) rotate(356deg);
}

@media screen and (max-width: 576px) {
  .tarifs h5 {
    font-size: 1.2rem;
  }
}

.tarifs .img-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 130px;
  background-size: cover;
}

.tarifs .container > ul {
  list-style: none;
  margin-top: 100px;
  position: relative;
  margin-left: 0;
  padding-left: 0;
  min-height: 1500px;
}

@media screen and (min-width: 576px) {
  .tarifs .container > ul {
    min-height: 1200px;
  }
}

@media screen and (min-width: 992px) {
  .tarifs .container > ul {
    min-height: 600px;
    margin-bottom: 400px;
  }
}

@media screen and (min-width: 1400px) {
  .tarifs .container > ul {
    min-height: -webkit-fit-content;
    min-height: fit-content;
    min-height: -moz-fit-content;
  }
}

.tarifs .container > ul li {
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: 2;
}

.tarifs .container > ul li .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -10%;
  z-index: 999;
}

.tarifs .container > ul li p {
  font-family: "Segoe UI Black";
  font-size: 1.313rem;
  color: #799be8;
}

.tarifs #list-5 {
  left: 0;
}

@media screen and (min-width: 576px) {
  .tarifs #list-5 {
    left: 20%;
  }
}

@media screen and (min-width: 992px) {
  .tarifs #list-5 {
    left: 0;
  }
}

@media screen and (min-width: 1400px) {
  .tarifs #list-5 {
    left: 5%;
  }
}

.tarifs #list-6 {
  left: 0;
  top: 20%;
}

@media screen and (min-width: 576px) {
  .tarifs #list-6 {
    left: 11%;
    top: 25%;
  }
}

@media screen and (min-width: 992px) {
  .tarifs #list-6 {
    left: 50%;
    top: 0;
  }
}

@media screen and (min-width: 1400px) {
  .tarifs #list-6 {
    left: 24%;
  }
}

.tarifs #list-7 {
  left: 0;
  top: 45%;
}

@media screen and (min-width: 576px) {
  .tarifs #list-7 {
    left: 16%;
    top: 50%;
  }
}

@media screen and (min-width: 992px) {
  .tarifs #list-7 {
    left: 0;
    top: 60%;
  }
}

@media screen and (min-width: 1400px) {
  .tarifs #list-7 {
    left: 50%;
    top: 0;
  }
}

.tarifs #list-8 {
  left: 0;
  top: 70%;
}

@media screen and (min-width: 576px) {
  .tarifs #list-8 {
    left: 15%;
    top: 75%;
  }
}

@media screen and (min-width: 992px) {
  .tarifs #list-8 {
    left: 50%;
    top: 60%;
  }
}

@media screen and (min-width: 1400px) {
  .tarifs #list-8 {
    left: 73%;
    top: 0;
  }
}

.tarifs .details-tarifs {
  background-color: #a09cc2;
  padding: 45px 25px;
  border-radius: 20px;
  visibility: hidden;
  position: relative;
  margin: -1180px 0 100px 0;
}

@media screen and (min-width: 576px) {
  .tarifs .details-tarifs {
    margin: -900px 0 100px 0;
  }
}

@media screen and (min-width: 992px) {
  .tarifs .details-tarifs {
    margin: -690px 0 100px 25%;
    max-width: 55%;
  }
}

@media screen and (min-width: 1100px) {
  .tarifs .details-tarifs {
    margin: -900px 0 100px 40%;
  }
}

@media screen and (min-width: 1400px) {
  .tarifs .details-tarifs {
    margin: -200px auto 100px 30%;
  }
}

.tarifs .details-tarifs i {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.tarifs .details-tarifs p {
  color: #fff;
  overflow-wrap: break-word;
}

@media screen and (max-width: 576px) {
  .tarifs .details-tarifs p {
    font-size: 1rem;
  }
}

.tarifs .details-tarifs ul {
  margin-bottom: 20px;
  margin-left: 50px;
  list-style: none;
}

.tarifs .details-tarifs li {
  color: #fff;
  font-size: 1.313rem;
}

.tarifs .details-tarifs .adapt {
  color: #edc5cc;
}

.img-5 {
  background-image: url("/images/seances1.jpg");
  background-position: -80px;
}

.img-6 {
  background-image: url("/images/enfantetados.jpg");
}

.img-7 {
  background-image: url("/images/groupe.jpg");
}

.img-8 {
  background-image: url("/images/organisme.jpg");
}

.seances {
  padding: 20vh 0;
  background-image: url("/images/bg-seances.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: -140px;
  min-height: 1000px;
}

@media screen and (min-width: 992px) {
  .seances {
    padding: 30vh 0;
  }
}

.seances .img-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 130px;
  background-size: cover;
}

.seances .text-wrapper {
  margin-top: -10%;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seances .text-wrapper p {
  font-family: "Segoe UI Black";
  font-size: 1rem;
  color: #799be8;
}

@media screen and (min-width: 992px) {
  .seances .text-wrapper p {
    font-size: 1.313rem;
  }
}

.seances .container > ul {
  margin-top: 90px;
  position: relative;
  min-height: 1200px;
  z-index: 998;
}

@media screen and (min-width: 992px) {
  .seances .container > ul {
    min-height: 600px;
  }
}

.seances .container > ul li {
  position: absolute;
  list-style: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 1s;
  transition: 1s;
}

.seances .container .list-wrapper {
  position: relative;
}

.seances .container article {
  -webkit-transition: 1s;
  transition: 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 998;
}

.seances .container #group ul {
  margin-left: 0;
  padding-left: 0;
}

.seances .container .details-seances {
  background-color: #a09cc2;
  padding: 45px 25px;
  border-radius: 20px;
  max-width: 100%;
  margin: -910px auto 100px auto;
  visibility: hidden;
  position: relative;
}

@media screen and (min-width: 405px) {
  .seances .container .details-seances {
    margin: -930px auto 100px auto;
  }
}

@media screen and (min-width: 992px) {
  .seances .container .details-seances {
    max-width: 55%;
    margin: -520px 0 100px 40%;
  }
}

@media screen and (min-width: 1400px) {
  .seances .container .details-seances {
    margin: -520px 0 100px 30%;
  }
}

@media screen and (min-width: 1856px) {
  .seances .container .details-seances {
    margin: -520px auto 100px auto;
  }
}

.seances .container .details-seances i {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.seances .container .details-seances p {
  color: #fff;
}

.seances .container .details-seances ul {
  margin-bottom: 20px;
}

@media screen and (min-width: 992px) {
  .seances .container .details-seances ul {
    margin-left: 50px;
  }
}

.seances .container .details-seances li {
  color: #fff;
  font-size: 1rem;
}

@media screen and (min-width: 992px) {
  .seances .container .details-seances li {
    font-size: 1.313rem;
  }
}

.seances .container .details-seances .adapt {
  color: #edc5cc;
}

.seances .group li {
  list-style: none;
}

#list-1 {
  left: 5%;
  top: 0;
}

@media screen and (min-width: 405px) {
  #list-1 {
    left: 25%;
  }
}

@media screen and (min-width: 992px) {
  #list-1 {
    left: 10%;
  }
}

@media screen and (min-width: 1400px) {
  #list-1 {
    left: 20%;
  }
}

@media screen and (min-width: 1856px) {
  #list-1 {
    left: 7%;
  }
}

#list-2 {
  left: 5%;
  top: 25%;
}

@media screen and (min-width: 405px) {
  #list-2 {
    left: 25%;
  }
}

@media screen and (min-width: 992px) {
  #list-2 {
    left: 60%;
    top: 0;
  }
}

@media screen and (min-width: 1400px) {
  #list-2 {
    left: 50%;
  }
}

@media screen and (min-width: 1856px) {
  #list-2 {
    left: 30%;
  }
}

#list-3 {
  left: 5%;
  top: 52%;
}

@media screen and (min-width: 405px) {
  #list-3 {
    left: 25%;
    top: 50%;
  }
}

@media screen and (min-width: 992px) {
  #list-3 {
    top: 50%;
    left: 10%;
  }
}

@media screen and (min-width: 1400px) {
  #list-3 {
    left: 20%;
  }
}

@media screen and (min-width: 1856px) {
  #list-3 {
    top: 0;
    left: 50%;
  }
}

#list-4 {
  left: 15%;
  top: 80%;
}

@media screen and (min-width: 405px) {
  #list-4 {
    left: 35%;
    top: 75%;
  }
}

@media screen and (min-width: 992px) {
  #list-4 {
    top: 50%;
    left: 63%;
  }
}

@media screen and (min-width: 1400px) {
  #list-4 {
    left: 53%;
  }
}

@media screen and (min-width: 1856px) {
  #list-4 {
    top: 0;
    left: 73%;
  }
}

.toleft {
  left: 0 !important;
  top: 0 !important;
}

.others {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.apparition {
  opacity: 100%;
  visibility: visible !important;
}

.img-1 {
  background-image: url("/images/seances1.jpg");
  background-position: -80px;
}

.img-2 {
  background-image: url("/images/ados.jpg");
}

.img-3 {
  background-image: url("/images/enfant.jpg");
}

.img-4 {
  background-image: url("/images/groupe.jpg");
}

form {
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  form {
    max-width: 675px;
    min-width: 500px;
  }
}

form input,
form textarea {
  background-color: rgba(237, 197, 204, 0.3);
  border: none;
  color: #799be8;
  border-radius: 34px;
  padding: 10px 25px;
  width: 100%;
  margin-bottom: 15px;
}

form input:active, form input:focus,
form textarea:active,
form textarea:focus {
  background-color: #edc5cc;
  outline: none;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: #799be8;
}

form input:-ms-input-placeholder,
form textarea:-ms-input-placeholder {
  color: #799be8;
}

form input::-ms-input-placeholder,
form textarea::-ms-input-placeholder {
  color: #799be8;
}

form input::placeholder,
form textarea::placeholder {
  color: #799be8;
}

form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 576px) {
  form .form-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 576px) {
  form .form-wrapper input {
    max-width: 49%;
  }
}

form .btn-send {
  padding: 5px 10px;
  margin-right: 0;
}

@media screen and (min-width: 576px) {
  form .btn-send {
    width: 50%;
    padding: 15px 50px;
  }
}

form .btn-wrapper {
  text-align: center;
}

.contact {
  margin: 0 0 200px 0;
  padding-top: 120px;
}

@media screen and (min-width: 992px) {
  .contact {
    padding-top: 200px;
  }
}

.contact .contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media screen and (min-width: 992px) {
  .contact .contact-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.contact .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
  margin-top: 50px;
}

@media screen and (min-width: 992px) {
  .contact .text-wrapper {
    max-width: 30%;
    min-width: 450px;
    margin-right: 5vw;
  }
}

.contact p {
  font-size: 1.8rem;
  color: #493e5b;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .contact p {
    font-size: 2.125rem;
  }
}

.contact .diplome {
  font-family: "Segoe UI Italic";
  font-size: 1.3rem;
  color: #493e5b;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .contact .diplome {
    font-size: 1.313rem;
  }
}

.contact .social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

@media screen and (min-width: 992px) {
  .contact .social-wrapper {
    margin-bottom: 0;
  }
}

.contact .social-wrapper svg {
  width: 50px;
}

.contact .social-wrapper svg:hover path {
  fill: #493e5b;
}

.contact .social a:not(:nth-child(1)) {
  margin-left: 20px;
}

button, form .btn-send {
  padding: 15px 50px;
  background-color: #d13978;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-family: "Verveine Regular";
  font-size: 2.125rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 999;
}

button:hover, form .btn-send:hover {
  background-color: #dd919e;
}

@media screen and (max-width: 576px) {
  #pop-form {
    font-size: 1.8rem;
  }
}

#form {
  display: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 1s;
  transition: 1s;
}

#form #arrow-form {
  background-color: transparent;
  margin: 0 0 20px 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
  #form #arrow-form {
    margin: -40px 0 0 -80px;
  }
}

#form svg {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 55px;
  width: 55px;
  cursor: pointer;
}

.form-width {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-transition: 1s;
  transition: 1s;
}

.butterfly-form {
  position: absolute;
  top: -60%;
  right: -15%;
  -webkit-transform: rotateY(198deg) rotateX(328deg);
          transform: rotateY(198deg) rotateX(328deg);
  -webkit-transition: 1s;
  transition: 1s;
  display: none;
}

@media screen and (min-width: 576px) {
  .butterfly-form {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .butterfly-form {
    top: -50%;
    right: -16%;
  }
}

.thanks {
  display: none;
  color: #799be8;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
}

.formulaire {
  position: relative;
}

@-webkit-keyframes disparition {
  0% {
    visibility: visible;
    opacity: 100%;
  }
  90% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: hidden;
    opacity: 0%;
  }
}

@keyframes disparition {
  0% {
    visibility: visible;
    opacity: 100%;
  }
  90% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: hidden;
    opacity: 0%;
  }
}

@-webkit-keyframes display {
  0% {
    visibility: hidden;
    opacity: 0%;
  }
  10% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes display {
  0% {
    visibility: hidden;
    opacity: 0%;
  }
  10% {
    visibility: visible;
    opacity: 0%;
  }
  100% {
    visibility: visible;
    opacity: 100%;
  }
}

.display {
  -webkit-animation: display 2s;
          animation: display 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.no-display {
  -webkit-animation: disparition 1s;
          animation: disparition 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes form {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  1% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}

@keyframes form {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  1% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: top left;
            transform-origin: top left;
  }
}

.animation-form {
  -webkit-animation: form 1s;
          animation: form 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mentions {
  padding-top: 150px;
  padding-bottom: 200px;
}

.mentions h2 {
  color: #493e5b;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 50px 0 20px 0;
}

.mentions .info {
  font-weight: 600;
}
