@import '../scss/utils/colors';
@import '../scss/utils/fonts';
@import '../scss/base/general';
@import '../scss/layout/header';
@import '../scss/pages/apropos';
@import '../scss/pages/quisuisje';
@import '../scss/layout/footer';
@import '../scss/pages/tarifs';
@import '../scss/pages/seances';
@import '../scss/components/form';
@import '../scss/pages/contact';
@import '../scss/utils/animations';
