$color-001: #493e5b;
$color-002: #fff;
$color-003: #000;
$color-004: rgba(160, 156, 194, 0.35);
$color-005: #799be8;
$color-006: #dcb36a;
$color-007: #dd919e;
$color-008: #d13978;
$color-009: #dec2e1;
$color-010: #a09cc2;
$color-011: #edc5cc;
$color-012: rgba(237, 197, 204, 0.3);
