.apropos {
    padding: 0 0 120px 0;
    margin-top: 50px;
    margin-bottom: 200px;
    @media screen and (min-width: 992px) {
        padding: 120px 0;
    }

    h1 {
        margin-bottom: 50px;
    }
    a {
        font-size: 2rem;
        color: $color-001;
        font-family: $primary-font;
        display: flex;
        align-items: center;
        @media screen and (min-width: 992px) {
            font-size: 3.438rem;
        }
    }
    .triangle {
        height: 0;
        width: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 30px solid $color-006;
        margin-right: 20px;
        transition: 0.4s;
        @media screen and (min-width: 992px) {
            border-top: 25px solid transparent;
            border-bottom: 25px solid transparent;
            border-left: 43px solid $color-006;
        }
    }
    .card {
        border: none;
        padding-left: 0;
        background: none;
        @media screen and (min-width: 992px) {
            padding-left: 120px;
        }
        p {
            max-width: 100%;
            margin-bottom: 30px;
            @media screen and (min-width: 992px) {
                max-width: 60%;
            }
        }
        li {
            font-size: 1.2rem;
            max-width: 100%;
            @media screen and (min-width: 992px) {
                max-width: 60%;
                font-size: 1.313rem;
            }
        }
        strong {
            color: $color-001;
        }
    }
}
