.contact {
    margin: 0 0 200px 0;
    padding-top: 120px;
    @media screen and (min-width: 992px) {
        padding-top: 200px;
    }
    .contact-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        margin-top: 50px;
        @media screen and (min-width: 992px) {
            max-width: 30%;
            min-width: 450px;
            margin-right: 5vw;
        }
    }
    p {
        font-size: 1.8rem;
        color: $color-001;
        text-align: center;
        @media screen and (min-width: 576px) {
            font-size: 2.125rem;
        }
    }
    .diplome {
        font-family: $secondary-font-italic;
        font-size: 1.3rem;
        color: $color-001;
        text-align: center;

        @media screen and (min-width: 992px) {
            font-size: 1.313rem;
        }
    }
    .social-wrapper {
        display: flex;
        margin-bottom: 50px;
        @media screen and (min-width: 992px) {
            margin-bottom: 0;
        }
        svg {
            width: 50px;
            &:hover path {
                fill: $color-001;
            }
        }
    }
    .social {
        a:not(:nth-child(1)) {
            margin-left: 20px;
        }
    }
}

button {
    padding: 15px 50px;
    background-color: $color-008;
    color: $color-002;
    border: none;
    border-radius: 25px;
    font-family: $primary-font;
    font-size: 2.125rem;
    transition: 0.2s;
    z-index: 999;

    &:hover {
        background-color: $color-007;
    }
}

#pop-form {
    @media screen and (max-width: 576px) {
        font-size: 1.8rem;
    }
}

#form {
    display: none;
    transform: scale(0);
    transition: 1s;

    #arrow-form {
        background-color: transparent;
        margin: 0 0 20px 0;
        padding: 0;
        @media screen and (min-width: 992px) {
            margin: -40px 0 0 -80px;
        }
    }
    svg {
        transform: rotate(90deg);
        height: 55px;
        width: 55px;
        cursor: pointer;
    }
}
.form-width {
    transform: scale(1) !important;
    transition: 1s;
}
.butterfly-form {
    position: absolute;
    top: -60%;
    right: -15%;
    transform: rotateY(198deg) rotateX(328deg);
    transition: 1s;
    display: none;
    @media screen and (min-width: 576px) {
        display: block;
    }
    @media screen and (min-width: 992px) {
        top: -50%;
        right: -16%;
    }
}
.thanks {
    display: none;
    color: $color-005;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.formulaire {
    position: relative;
}
