.mentions {
    padding-top: 150px;
    padding-bottom: 200px;
    h2 {
        color: $color-001;
        font-size: 2.5rem;
        font-weight: 600;
        margin: 50px 0 20px 0;
    }
    .info {
        font-weight: 600;
    }
}
