.quisuisje {
    position: relative;
    > img {
        position: absolute;
        right: 0;
        top: -100px;
    }
    .container {
        padding: 200px 0 165px 0;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 992px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .text-wrapper {
            max-width: 70%;
            margin: 50px 0;
            @media screen and (min-width: 992px) {
                max-width: 60%;
            }
            @media screen and (min-width: 1500px) {
                max-width: 70%;
                margin-top: 0px;
            }
        }
        .img-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .img-overflow {
            border-radius: 175px;
            overflow: hidden;
        }
        img {
            width: 350px;
            height: 350px;
            object-fit: cover;
        }
        figure {
            font-size: 3.438rem;
            color: $color-001;
            font-family: $primary-font;
        }
    }
}
