.seances {
    padding: 20vh 0;
    background-image: url('/images/bg-seances.png');
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: -140px;
    min-height: 1000px;
    @media screen and (min-width: 992px) {
        padding: 30vh 0;
    }

    .img-wrapper {
        width: 200px;
        height: 200px;
        border-radius: 130px;
        background-size: cover;
    }
    .text-wrapper {
        margin-top: -10%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            font-family: $secondary-font-black;
            font-size: 1rem;
            color: $color-005;
            @media screen and (min-width: 992px) {
                font-size: 1.313rem;
            }
        }
    }
    .container {
        > ul {
            margin-top: 90px;
            position: relative;
            min-height: 1200px;
            z-index: 998;
            @media screen and (min-width: 992px) {
                min-height: 600px;
            }
            li {
                position: absolute;
                list-style: none;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: 1s;
            }
        }
        .list-wrapper {
            position: relative;
        }
        article {
            transition: 1s;
            visibility: hidden;
            opacity: 0;
            z-index: 998;
        }
        #group ul {
            margin-left: 0;
            padding-left: 0;
        }
        .details-seances {
            background-color: $color-010;
            padding: 45px 25px;
            border-radius: 20px;
            max-width: 100%;
            margin: -910px auto 100px auto;
            visibility: hidden;
            position: relative;
            @media screen and (min-width: 405px) {
                margin: -930px auto 100px auto;
            }
            @media screen and (min-width: 992px) {
                max-width: 55%;
                margin: -520px 0 100px 40%;
            }
            @media screen and (min-width: 1400px) {
                margin: -520px 0 100px 30%;
            }
            @media screen and (min-width: 1856px) {
                margin: -520px auto 100px auto;
            }
            i {
                color: $color-002;
                position: absolute;
                top: 20px;
                right: 20px;
                cursor: pointer;
            }
            p {
                color: $color-002;
            }
            ul {
                margin-bottom: 20px;
                @media screen and (min-width: 992px) {
                    margin-left: 50px;
                }
            }

            li {
                color: $color-002;
                font-size: 1rem;
                @media screen and (min-width: 992px) {
                    font-size: 1.313rem;
                }
            }
            .adapt {
                color: $color-011;
            }
        }
    }

    .group li {
        list-style: none;
    }
}

#list-1 {
    left: 5%;
    top: 0;
    @media screen and (min-width: 405px) {
        left: 25%;
    }
    @media screen and (min-width: 992px) {
        left: 10%;
    }

    @media screen and (min-width: 1400px) {
        left: 20%;
    }
    @media screen and (min-width: 1856px) {
        left: 7%;
    }
}

#list-2 {
    left: 5%;
    top: 25%;
    @media screen and (min-width: 405px) {
        left: 25%;
    }
    @media screen and (min-width: 992px) {
        left: 60%;
        top: 0;
    }
    @media screen and (min-width: 1400px) {
        left: 50%;
    }
    @media screen and (min-width: 1856px) {
        left: 30%;
    }
}

#list-3 {
    left: 5%;
    top: 52%;
    @media screen and (min-width: 405px) {
        left: 25%;
        top: 50%;
    }
    @media screen and (min-width: 992px) {
        top: 50%;
        left: 10%;
    }
    @media screen and (min-width: 1400px) {
        left: 20%;
    }
    @media screen and (min-width: 1856px) {
        top: 0;
        left: 50%;
    }
}

#list-4 {
    left: 15%;
    top: 80%;
    @media screen and (min-width: 405px) {
        left: 35%;
        top: 75%;
    }
    @media screen and (min-width: 992px) {
        top: 50%;
        left: 63%;
    }
    @media screen and (min-width: 1400px) {
        left: 53%;
    }
    @media screen and (min-width: 1856px) {
        top: 0;
        left: 73%;
    }
}

.toleft {
    left: 0 !important;
    top: 0 !important;
}

.others {
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.apparition {
    opacity: 100%;
    visibility: visible !important;
}

.img-1 {
    background-image: url('/images/seances1.jpg');
    background-position: -80px;
}
.img-2 {
    background-image: url('/images/ados.jpg');
}
.img-3 {
    background-image: url('/images/enfant.jpg');
}
.img-4 {
    background-image: url('/images/groupe.jpg');
}
