.tarifs {
    position: relative;
    padding-bottom: 300px;
    min-height: 1310px;
    padding: 100px 2%;
    overflow: hidden;
    @media screen and (min-width: 576px) {
        padding: 100px;
    }
    > img {
        position: absolute;
        right: 0;
        bottom: 0;
        top: -100px;
        z-index: -1;
    }
    .container {
        padding: 50px 0 0 0;
        @media screen and (min-width: 576px) {
            padding: 150px 0 0 0;
        }
        > a {
            font-size: 1.313rem;

            display: block;
            text-align: center;
        }
        .estimation {
            @media screen and (min-width: 992px) {
                max-width: 63%;
            }
        }
    }
    .tarifs-para {
        font-size: 1.5rem;
        color: $color-010;

        margin-top: 50px;
        @media screen and (min-width: 576px) {
            font-size: 2.125rem;
        }
        @media screen and (min-width: 1200px) {
            max-width: 60%;
        }
    }
    h4 {
        text-align: center;
        @media screen and (min-width: 992px) {
            max-width: 60%;
        }
        &::before {
            content: '';
            position: absolute;
            width: 70%;
            height: 40px;
            background-color: $color-009;
            z-index: -1;
            top: 20px;
            left: 15%;
            transform: skew(320deg) rotate(356deg);
        }
    }
    h5 {
        @media screen and (max-width: 576px) {
            font-size: 1.2rem;
        }
    }
    .img-wrapper {
        width: 200px;
        height: 200px;
        border-radius: 130px;
        background-size: cover;
    }
    .container > ul {
        list-style: none;
        margin-top: 100px;
        position: relative;
        margin-left: 0;
        padding-left: 0;
        min-height: 1500px;
        @media screen and (min-width: 576px) {
            min-height: 1200px;
        }
        @media screen and (min-width: 992px) {
            min-height: 600px;
            margin-bottom: 400px;
        }

        @media screen and (min-width: 1400px) {
            min-height: fit-content;
            min-height: -moz-fit-content;
        }
        li {
            transition: 1s;
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            z-index: 2;
            .text-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: -10%;
                z-index: 999;
            }
            p {
                font-family: $secondary-font-black;
                font-size: 1.313rem;
                color: $color-005;
            }
        }
    }
    #list-5 {
        left: 0;
        @media screen and (min-width: 576px) {
            left: 20%;
        }
        @media screen and (min-width: 992px) {
            left: 0;
        }
        @media screen and (min-width: 1400px) {
            left: 5%;
        }
    }

    #list-6 {
        left: 0;
        top: 20%;
        @media screen and (min-width: 576px) {
            left: 11%;
            top: 25%;
        }

        @media screen and (min-width: 992px) {
            left: 50%;
            top: 0;
        }
        @media screen and (min-width: 1400px) {
            left: 24%;
        }
    }

    #list-7 {
        left: 0;
        top: 45%;
        @media screen and (min-width: 576px) {
            left: 16%;
            top: 50%;
        }
        @media screen and (min-width: 992px) {
            left: 0;
            top: 60%;
        }
        @media screen and (min-width: 1400px) {
            left: 50%;
            top: 0;
        }
    }

    #list-8 {
        left: 0;
        top: 70%;
        @media screen and (min-width: 576px) {
            left: 15%;
            top: 75%;
        }
        @media screen and (min-width: 992px) {
            left: 50%;
            top: 60%;
        }
        @media screen and (min-width: 1400px) {
            left: 73%;
            top: 0;
        }
    }
    .details-tarifs {
        background-color: $color-010;
        padding: 45px 25px;
        border-radius: 20px;
        visibility: hidden;
        position: relative;
        margin: -1180px 0 100px 0;
        z-index: 998;
        @media screen and (min-width: 576px) {
            margin: -900px 0 100px 0;
        }
        @media screen and (min-width: 992px) {
            margin: -690px 0 100px 25%;
            max-width: 55%;
        }
        @media screen and (min-width: 1100px) {
            margin: -900px 0 100px 40%;
        }
        @media screen and (min-width: 1400px) {
            margin: -200px auto 100px 30%;
        }
        i {
            color: $color-002;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
        p {
            color: $color-002;
            overflow-wrap: break-word;
            @media screen and (max-width: 576px) {
                font-size: 1rem;
            }
        }
        ul {
            margin-bottom: 20px;
            margin-left: 50px;
            list-style: none;
        }

        li {
            color: $color-002;
            font-size: 1.313rem;
        }
        .adapt {
            color: $color-011;
        }
    }
}

.img-5 {
    background-image: url('/images/seances1.jpg');
    background-position: -80px;
}

.img-6 {
    background-image: url('/images/enfantetados.jpg');
}

.img-7 {
    background-image: url('/images/groupe.jpg');
}
.img-8 {
    background-image: url('/images/organisme.jpg');
}
