form {
    max-width: 90%;
    margin: 0 auto;
    @media screen and (min-width: 992px) {
        max-width: 675px;
        min-width: 500px;
    }
    input,
    textarea {
        background-color: $color-012;
        border: none;
        color: $color-005;
        border-radius: 34px;
        padding: 10px 25px;
        width: 100%;
        margin-bottom: 15px;
        &:active,
        &:focus {
            background-color: $color-011;
            outline: none;
        }
        &::placeholder {
            color: $color-005;
        }
    }
    .form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (min-width: 576px) {
            flex-direction: row;
        }
        input {
            @media screen and (min-width: 576px) {
                max-width: 49%;
            }
        }
    }
    .btn-send {
        @extend button;
        padding: 5px 10px;
        margin-right: 0;
        cursor: pointer;
        text-align: center;
        @media screen and (min-width: 576px) {
            width: 50%;
            padding: 15px 50px;
        }
    }
    .btn-wrapper {
        text-align: center;
    }
}
