* {
    margin: 0;
    hyphens: auto;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 85%;
}

a {
    transition: 0.2s;
}

a:hover {
    text-decoration: none;
}

strong {
    font-family: $secondary-font-black;
}

.display-none {
    display: none !important;
}

.display-block {
    display: block !important;
}

#cookiescript_badge {
    display: none !important;
}

#cookiescript_injected {
    background-color: $color-001 !important;
    #cookiescript_accept {
        background-color: $color-002;
        color: $color-001;
    }
    #cookiescript_reject {
        background-color: $color-001;
    }
}
